
@{
    Layout = null;
    Layout = "~/Views/Shared/Layoutmenu.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FailureView</title>
</head>
<body>
    <div>

        FailureView
    </div>
</body>
</html>
