<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    @using (Html.BeginForm("FindFlights", "Homepage", FormMethod.Post))
    {

        <div class="col-sm-6 col-md-6 col-xl-5">
            <div class="input-group-icon">
                <label class="form-label visually-hidden" for="fromAirport">From where</label>
                <select class="form-control input-box form-voyage-control" name="fromAirport" id="fromAirport">
                    <option value="Ha Noi">Ha Noi</option>
                    <option value="Ho Chi Minh">Ho Chi Minh</option>
                    <option value="Da Nang">Da Nang</option>
                </select>
                <span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-map-marker-alt"></i></span>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-xl-5">
            <div class="input-group-icon">
                <label class="form-label visually-hidden" for="toAirport">To where</label>
                <select class="form-control input-box form-voyage-control" name="toAirport" id="toAirport">
                    <option value="Ha Noi">Ha Noi</option>
                    <option value="Ho Chi Minh">Ho Chi Minh</option>
                    <option value="Da Nang">Da Nang</option>
                </select>
                <span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-map-marker-alt"></i></span>
            </div>
        </div>


        <div class="col-sm-6 col-md-6 col-xl-5">
            <div class="input-group-icon">
                <input class="form-control input-box form-voyage-control" name="TuNgay" id="inputdateOne" type="date" /><span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-calendar"></i></span>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-xl-5">
            <div class="input-group-icon">
                <input class="form-control input-box form-voyage-control" name="DenNgay" id="inputDateTwo" type="date" /><span class="nav-link-icon text-800 fs--1 input-box-icon"><i class="fas fa-calendar"></i></span>
            </div>
        </div>
        <div class="col-12 col-xl-10 col-lg-12 d-grid mt-6">
            <button class="btn btn-secondary" type="submit">Search Packages</button>
        </div>

    }
</div>
