@using Airline21.Models
@model Ticket

@{
    ViewBag.Title = "Test";
}

<h2>Test View</h2>

@if (Model != null)
{
    <p>Ticket ID: @Model.ticketID</p>
    <p>Name: @Model.NameTicket</p>
    <p>Price: @Model.price</p>
    <!-- Add more properties as needed -->
}
else
{
    <p>No data in the session for Ticket.</p>
}
