
@{
    ViewBag.Title = "notificationEmail";
    Layout = "~/Views/Shared/Layoutmenu.cshtml";
}
<div style="padding-top:100px;text-align:center">

    <h2>notificationEmail</h2>
    <h2>check email</h2>
</div>

